/Atleta.class
/Bronce.class
/Categoria.class
/Colegiado.class
/Competicion.class
/Credenciales.class
/DatosPersona.class
/Documentacion.class
/Equipo.class
/Lugar.class
/Manager.class
/Metal.class
/NIE.class
/NIF.class
/Oro.class
/Participante.class
/Plata.class
/Prueba.class
/Resultado.class
/Rol.class
